.whyBack{
    background-image: url('../../assets//images/why-med.png');
    background-size: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .feedback{
  background-color: #F7F7F7;
  border: 1px solid #F7F7F7;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  }
  .land{
    overflow-x:hidden;
  }
