.medList__summary__inner{
    padding: 20px;
    height: 620px;
    background: #FFFFFF;
    border: 0.8px solid #EAEAEA;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    margin-bottom: 25px;
    .md_order_summary{
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: capitalize;
        color: #333333;
    }
    .mdListOfCharges{
        .report_cancel{
            padding: 40px 0;
            .report_order1{
                border: 1px solid #6054E5;
                box-sizing: border-box;
                width: 250px;
                height: 50px;
                border-radius: 2px;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #6054E5;
                background-color: white; 
                border-right: none; 
            }
            .report_order2{
                border: 1px solid #6054E5;
                box-sizing: border-box;
                width: 250px;
                height: 50px;
                border-radius: 2px;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #6054E5;
                background-color: white; 
            }
        }            
        .mdcartValues{
            flex-direction: row;
            justify-content: space-between;
        }
        .mdborderLineBottom{
            border: 0.5px solid #DDDDDD;
        }
        .mdorderTotalMain{
            flex-direction: row;
            justify-content: space-between;
            .mddetail_total{
                padding: 10px 0;
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
                color: #333333;
                margin-bottom: 0 ;
            }
            .mddetail_total_generate{
                font-size: 15px;
                line-height: 18px;
                color: #878787;
                padding: 10px 0;
                margin-bottom: 0 ;
            }
        }
        .md_proceed_pay{
            flex-direction: column;
            height: 120px;
            .mdproceed_pay_inner{
                background: #00D9C5;
                border-radius: 2px;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: #232323;
                width: 200px;
                height: 50px;
                border: none;
            }
        }
        .mddelivery__details__container{
            .mddelivery__details{
                padding: 20px 0;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                color: #343434; 
            }
            .mddelivery__inner_sec{                    
                background: #FFFFFF;
                border: 1px solid #D8D8D8;
                box-sizing: border-box;
                border-radius: 6px;
                height: 160px;
                .changeBtn{
                    padding: 0 70px;
                    margin-top: 30px;
                    .report_order1{
                        border: 1px solid #6054E5;
                        box-sizing: border-box;
                        width: 170px;
                        height: 35px;
                        border-radius: 2px;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 18px;
                        color: #6054E5;
                        background-color: white;  
                    }
                }
                .mddelPersonInnerContainer{
                    flex-direction: row;
                    justify-content: space-between;
                    .mddelPersonInnnerLeft{
                        padding: 0 20px;
                        padding-top: 20px ;
                       .mddel_person_name{
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 23px;
                            color: #333333;
                            margin-bottom:5px ;
                        }
                        .mddel_person_number{
                            font-size: 12px;
                            line-height: 14px;
                            color: #333333;                                
                        }  
                    }
                    .mddel_person_innerRight{
                        width: 60px;
                        height: 25px;
                        background: #dfdbdb;
                        border-radius: 10px;
                        text-align: center;
                        font-size: 12px;
                        color: #333333;
                        margin: 20px;
                        &>p{
                            margin-top: 3px;
                        }
                    }
                }
                .mdstreet{
                    padding: 0 20px;
                    font-size: 16px;
                    line-height: 150.3%;
                    color: #868686;
                }
            }  
        }      
    }
}
.md_dotteddown_container{
    background: #FCFCFC;
    border: 1px dashed #766CEB;
    height: 130px;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    .md_dotted_inner{
        flex-direction: row;
        align-items: center;
        padding: 0 10px;
        .percentage_icon{
            object-fit: contain;
        }
        .apply_coupons{
            margin-bottom: 0;
            padding: 0 20px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #766CEB;
        }
    }
    .apply_code_container{
        padding: 0 10px;
        .apply_code_input{
            width: 225px;
            background: #FFFFFF;
            border: 1px solid #B8BCC5;
            box-sizing: border-box;
            border-radius: 2px;
        }
        .apply__code_btn{
            background: #E6E6E6;
            border-radius: 0px 6px 6px 0px;
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            color: #747474;
            width: 100px;
            border: none    ;
        }
        
    }
    
}