.categoryTitle{
    color: #292929;
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
}
  .image{
    background-color: #F7F7F7;
    padding-top: 10px;
    padding-bottom: 10px;
    &>img{
      width: 245px;
      height: 240px;
      object-fit: cover;
    }
  }
  .bottom{
      margin-bottom: 40px;
  }
  .category{
    margin-top: 10px;
    margin-bottom: 5px;
    color: gray;
    font-size: 14px;

  }
  .company{
    color: gray;
    font-size: 14px;
  }
  .right{
    float: right;
  }
  .name{
    color: #424242;
    font-size: 18px;
  }
  .discountPrice{
    color: #6054E5;
    font-size: 20px;
  }
  .actualPrice{
    color: gray;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 10px;
  }
  .btnAdd{
    background-color: white;
    border: 1px solid #9B9B9B;
    color: #9B9B9B;
    font-size: 20px;
    border-radius: 2px;
    padding: 0px 10px 0px 10px;
  }
  .btnAdd:active{
    outline: none;
  }
  .btnAdded{
    background-color: #6054E5;
    border: 1px solid #6054E5;
    color: white;
    font-size: 20px;
    border-radius: 2px;
    padding: 0px 10px 0px 10px;
  }
  .btnAdded:focus{
    outline: none;
  }
  .btnView{
    background-color: #00D9C5;
    border: 1px solid #00D9C5;
    color: #232323;
    padding: 10px 40px 10px 40px;
    margin-top: 40px;
    border-radius: 2px;
  }
  .categoryBorder{
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
    input{
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
.offerBadge{
  background-color: #6054E5;
  border: 1px solid #6054E5;
  color: white;
  font-size: 13px;
  width: 48px;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  right: 0;
  text-align: center;
  margin-right: 25px;;
}
.menu{
  img{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
}
.sortDropdown{
  float: right;
  margin-top: 20px;
  select{
    padding: 5px 10px 5px 10px;
    background: #FFFFFF;
    border: 1px solid #B7B7B7;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    color: #727272;
  }
}
.prescriptionImg{
  width: 25px;
  height: 25px;
  float: right;
}
.customCheckbox {
  position: relative;
  cursor: pointer;
}
.customCheckbox:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid #ACACAC;
  border-radius: 2px;
}
.customCheckbox:checked:before {
  content: "";
  border: 1px solid #6054E5;
  background-color: #6054E5;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
}
.customCheckbox:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: 1px solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 5px;
}
.checkboxLabel{
  color: #515151;
  display: block;
  padding-bottom: 10px;
}
