.specialityMed{
    border: 1px solid #E8E8E8;
    margin-top: 20px;
    background: #FBFBFB;
    padding: 20px;
  }
  .specialityImg{
    text-align: center;
    margin-bottom: 20px;
    &>img{
      object-fit: contain;
    }
  }
  .specialityName{
    color: #333333;
    font-size: 14px;
    padding-top: 10px;
  }
  .speciality{
    color: #414B55;
    font-size: 24px;
    padding-bottom: 20px;
  }
  .seeAll{
    color: #6054E5;
    font-size: 16px;
    display: inline;
    float: right;
    line-height: 2.5;
    span{
      cursor: pointer;
    }
  }
  .landingArrow{
    padding-left: 10px;
  }