.medicineDetail{
    color: #333333;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 40px;
    b{
        font-weight: bold;
    }
}
.indication{
    padding: 0;
    span{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #727272;
    }
    b{
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        color: #414b55;
        font-weight: bold;
    }
}