 .blog{
    color: #343434;
    font-size: 34px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  .news{
    img{
      width: 100%;
    }
    span{
      color: #7A7A7A;
      font-size: 12px;
      padding-top: 20px;
    }
    b{
      color: #343434;
      font-size: 20px;
    }
    p{
      color: #636363;
      font-size: 14px;
      margin-bottom: 40px;
    }
  }