.paymentSide{
    width: 300px;
    height: 674px;
    background: #F4F4F5;
    border-radius: 6px 0px 0px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    .paymentNav{
        list-style: none;
        padding: 0;
        width: 100%;
        .active_item{
            border-left:10px solid  #766CEB;
            background-color: white;
            color: #766CEB;
        }
        .textContent{
            padding-left: 20px;
            .selected{
                background-color: white;
            }
            .active:active{
                border-left:10px solid  #766CEB;
                background-color: white;
                color: #766CEB;
            }
        }
        a{
            color: #464646;
        }
        a:hover{
            text-decoration: none;
        }
        &>li{
            border-bottom: 1px solid #DDDDDD;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 137.19%;
        }

    }
}