.addedCart{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 1110px;
    height: 95px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin-bottom: 70px;
    padding: 20px;
    .btnExplore{
        width: 245px;
        height: 51px;
        background-color: white;
        border: 1px solid #6054E5;
        color: #6054E5;
        box-sizing: border-box;
        border-radius: 2px;
        text-transform: uppercase;
        margin-right: 20px;
    }
    .btnExplore:focus{
        outline: none;
    }
    .greenSqr{
        width: 40px;
        height: 40px;
        border: 0.5px solid #51AF01;
        box-sizing: border-box;
        text-align: center;
        margin-right: 15px;
        margin-top: -4px;
    }
    .green{
        object-fit: contain;
        height: 18px;
        margin-top: 10px;
    }
    .btnBuy{
        width: 245px;
        height: 51px;
        background: #00D9C5;
        border-radius: 2px;
        border: none;
        text-transform: uppercase;
    }
    .btnBuy:focus{
        outline: none;
    }
    .addedTitle{
        font-weight: 500;
        font-size: 20px;
        line-height: 145.75%;
        color: #51AF01;
    }
    .addedValue{
        font-weight: 500;
        font-size: 18px;
        line-height: 145.75%;
        color: #6B6B6B;
        margin-right: 24px;
    }
    .amt{
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        color: #6054E5;
    }
}
