.container{
    padding: 0px !important;
    .card{
        width: 337px;
        height: 200px;
        background: #FFFFFF;
        border: 1px solid #D8D8D8;
        box-sizing: border-box;
        border-radius: 6px;
        .adPn{
            margin-top: -13px !important;
        }
        .cardText{
            font-size: 14px;
            line-height: 150.3%;
            color: #868686;
        }
        .cardTitle{
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #333333;
        }
        .adType{
            padding: 5px 10px;
            background: #f0f0f0;
            border-radius: 20px;
            text-align: center;
            font-size: 12px;
            line-height: 14px;
            color: #333333;
        }
        .cardTop{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
}
