.wholeContainer{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  .whyBox{
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px;
    width: 240px;
    height: 295px;
    border-radius: 4px;
    text-align: center;
    .whyContent{
      height: 50px;
    }
    img{
      width: 60px;
      height: 55px;
      margin-bottom: 20px;
      margin-top: 20px;
      object-fit: contain;
    }
    b{
        color: #6054E5;
        font-size: 16px;
    }
    p{
        color: #000000;
        text-align: center;
        padding: 7px 10px 20px 10px;
        font-size: 14px;
    }
  }
}
  .whyMed{
    color: white !important;
    font-size: 34px;
    padding-bottom: 40px;
    text-align: center;
  }
